<unl-toolbar>
	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  <span flex class="align-center">Timeclocks</span>
  <a ng-click="go('/{{groupId}}/timeclock/new')" ng-show="groupId" title="Create New Timeclock"><unl-icon-button icon="add"></unl-icon-button></a>
</unl-toolbar>
<unl-progress indeterminate ng-hide="timeclocks || !groupId" class="animate-fade-out"></unl-progress>
<!-- Group List -->
<div class="content-container" ng-hide="groupId">
  <unl-list-group>
    <unl-list-item-label class="animate-fade-left" ng-repeat="group in currentUser.groups | orderBy:'title'" heading="{{group.title}}" link>
      <a ng-href="/{{group.id}}"><paper-ripple fit></paper-ripple></a>
    </unl-list-item-label>
  </unl-list-group>
</div>
<!-- End Group List -->
<div class="content-container" ng-show="groupId">
  <unl-empty-content fit ng-hide="timeclocks.length > 0" text="No Timeclocks Yet">
    <span subhead>Add your first timeclock by hitting <core-icon icon="add"></core-icon> above</span>
  </unl-empty-content>
  <unl-list-group>
    <unl-list-item-label class="animate-fade-left" ng-repeat="timeclock in timeclocks | orderBy:'title'" heading="{{timeclock.title}}" link>
      <a ng-click="go('/{{groupId}}/timeclock/{{timeclock.$id}}')"><paper-ripple fit></paper-ripple></a>
    </unl-list-item-label>
  </unl-list-group>
</div>
