<unl-toolbar>
	<a ng-click="go('/{{groupId}}', 'animate-slide-left')" title="Back to Timeclocks"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{ timeclock.title || 'Loading' }}</span>
	<a ng-click="showKioskMode()" title="Enter Kiosk Mode"><unl-icon-button icon="fullscreen"></unl-icon-button></a>
</unl-toolbar>
<!-- Kiosk Mode -->
<unl-layout-kiosk ng-show="kioskMode">
	<div header>
		{{timeclock.title}}
	</div>
	<div tools>
		<a ng-click="hideKioskMode()" title="Leave Kiosk Mode"><unl-icon-button icon="fullscreen-exit"></unl-icon-button></a>
	</div>
	<div content>
		<div class="icon-header">
			<h2 class="align-center">Clock In <span class="subhead">Enter your NUID below</span></h2>
		</div>
		<form name="clockinForm" ng-submit="checkinUser()" novalidate>
			<div horizontal layout>
				<label for="kiosk-nuid" hidden>Enter your NUID</label>
				<input self-validation required model="clockinNcard" type="text" field="kiosk-nuid" placeholder="Enter your NUID" flex start>
				<button type="submit" ng-disabled="clockinForm.$invalid" input end>Clock In</button>
			</div>
		</form>
	</div>
</unl-layout-kiosk>
<!-- End Kiosk Mode -->